/*This stylesheet is terrible and will be changed soon.*/

body {
    background: #222527 url(images/default-tile-dark.png) 50% 50% repeat;
}

#contentArea {
    display: none;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


#progressbar, #loadingLogout {
    margin: 3%;
}
p,h1,h2,h3,h4,a,ul,li {
    color: #8FA9B8;
    font-family: Cambria, Georgia, serif;
    margin: 2px;
}

h1 {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 15px;
    font-weight: 450;
}

p {
    font-size: 15px;
}

b {
    font-weight: 700;
}

a {
    color: #72AECF;
    text-decoration: none;
}

form {
    margin: 20px;
}

iframe {
    margin-bottom: 8px;
}

.title {
    text-shadow: 2px 2px 4px #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #72AECF;
}

.title p {
    font-size: 25px;
    font-weight: 700;
    color: #72AECF;
}

.title h1 a {
    font-size: 30px;
}

.videoInfo p {
    color: #8DBCD6;
}

.desc {
    font-size: 12px;
    color: #8FA9B8;
}

.info-title {
    padding-top: 20px;
}

.infoTitle p {
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    line-height: 50px;
    text-shadow: 4px 4px 30px #000;
}

.infoTitle p a {
    color: #72AECF !important;
}

#button,#button3,#clearCookies,#loadingLogout {
    padding: 5px;
    font-family: Cambria, Georgia, serif;
    display: inline;
    background: #232C31;
    font-weight: 700;
    border: 2px solid #4B5E69;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    color: #8FA9B8;
    font-size: 15px;
}

#userInfo {
    margin-top: 25%;
    padding: 5px;
    border-radius: 5px;
    font-family: Cambria, Georgia, serif;
    background: rgba(2,22,22,.7);
    text-align: center;
    width: 90%;
    display: inline-block;
}

#button:hover,#button2:hover,#button3:hover,#button4:hover,#after:hover,#loadingLogout:hover {
    background: #506570;
}

#clearCookies:hover, #queue:hover {
    background: rgb(2,22,22);
}

#clearCookies,#queue {
    margin-top: 15px;
    display: block;
    background: rgba(2,22,22,.7);
}

.intro p, tr {
    color: #8FA9B8;
    font-family: Cambria, Georgia, serif;
    margin: 2px;
    font-size: 18px;
}

.intro h4 {
    color: #8FA9B8;
    font-family: Cambria, Georgia, serif;
    margin: 2px;
    font-size: 10px;
}

.infoTitle2 p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-shadow: 4px 4px 30px #000;
}

.infoTitle h4 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15px;
}

.infoTitle h4 a {
    margin: 15px !important;
}

#container {
    max-width: 1322px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
    background: #323739 url(images/default-tile.png) 50% 50% repeat;
    padding: 1.13464447806354%;
}

#info, #info3 {
    margin: 0.7564296520423601%;
    width: 27.853253%%;
    height: 300px;
    float: left;
    display: none;
    padding: .37821482602118006% 0 0 0.37821482602118006%;
    background-color: rgba(2,22,22,.3);
    border-radius: 10px;
    overflow: auto;
}
#info3 p img {
    margin-top: 50px;
    border: 5px solid #4B5E69;
}

#chanList {
    margin: 0.7564296520423601%;
    width: 38.57791225416036%;
    float: left;
    display: none;
    padding: .37821482602118006% 0 0 0.37821482602118006%;
    border-radius: 10px;
    height: 300px;
    overflow: auto;
}

#chanList a img{
    margin: 2px;
    border: 5px solid #4A93BD;
}

#noVids a img {
    border: 5px solid #4B5E69 !important;
    margin: 2px;
}

#noVids, #chan {
    display: inline;
}

#infoHome {
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#infoHome, #info, #chanList, #chanTitle {
    background: rgba(75,94,105,0.45);
    background: -moz-linear-gradient(top, rgba(75,94,105,0.45) 0%, rgba(48,54,56,0.3) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,94,105,0.45)), color-stop(100%, rgba(48,54,56,0.3)));
    background: -webkit-linear-gradient(top, rgba(75,94,105,0.45) 0%, rgba(48,54,56,0.3) 100%);
    background: -o-linear-gradient(top, rgba(75,94,105,0.45) 0%, rgba(48,54,56,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(75,94,105,0.45) 0%, rgba(48,54,56,0.3) 100%);
    background: linear-gradient(to bottom, rgba(75,94,105,0.45) 0%, rgba(48,54,56,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b5e69', endColorstr='#303638', GradientType=0 );
}
.ui-tooltip, #infoHome, #info, #chanList, #chanTitle, #info3 {
    -webkit-box-shadow: 0px 10px 18px #292d2f;
    box-shadow: 0px 10px 18px #292d2f;
}

#infoHome, iframe {
    -webkit-box-shadow: 0px 10px 18px #1A1F22;
    box-shadow: 0px 10px 18px #1A1F22;
}

#video {
    float: left;
    display: inline;
    border-radius: 10px;
    height: 375px;
    width: 31.4%;
    padding: 0.37821482602118006%;
    margin: 0.75643% 0 0 0.75643%;
    background-color: rgb(30,34,37);
    overflow: hidden;
    text-align: center;
}

#video:hover {
    background-color: rgb(26,30,32);
}

#video img {
    display: inline-block;
    border: 2px solid #4B5E69;
    margin: 5px;
}

.videoInfo {
    text-align: center;
    word-wrap: break-word;
    max-width:280px;
    max-height:170px;
}

a:hover,.title:hover {
    color: #8CD6FF;
}

#chanTitle {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 99%;
    float: left;
    padding: 0.37821482602118006%;
    border-radius: 10px;
}

#chanTitle img {
    border: 5px solid #4A93BD;
    margin-bottom: 0px;
    float: left;
}

#chantitle .title {
    margin-top: 0.7564296520423601%;
}

#chanTitle h1 {
    display: inline;
}

#chanTitle p a {
    margin-left: 32px;
}

.ui-tooltip {
    padding:8px;
    position:absolute;
    z-index:9999;
    max-width:300px;
}
body .ui-tooltip {
    border-width:2px;
}
.ui-tooltip, .arrow:after {
    background: #506570;
    border: 2px solid white;
  }
  .ui-tooltip {
    border: 2px dotted #4B5E69;
    border-radius: 10px;
    color: #72AECF;
    font-family: Cambria, Georgia, serif;
    margin: 2px;
  }
#progressbar .ui-progressbar-value {
    background:url("images/animated-overlay.gif");
}

.ui-progressbar {
    position: relative;
}

.progress-label{
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 0 #374750;
    color: #72AECF;
}

#progressbar {
    background-color: #323739;
    height: 50px;
}

.ui-progressbar {
    height:2em;
    text-align:left;
    overflow:hidden;
}
.ui-progressbar .ui-progressbar-value {
    margin:-1px;
    height:100%;
}
.ui-progressbar, .ui-progressbar-overlay{
    height:100%;
    filter:alpha(opacity=50);
    opacity:0.5;
}
.ui-progressbar-indeterminate .ui-progressbar-value{
    background-image:none;
}